<!doctype html>

<html>

	<head>
		<title><%= @title ? "#{@title} | DocDock" : "DocDock | The Dock for Docs" %></title>
	</head>
	
	<body>
		<%= iToS sToI("$*((#(*", "!@\#$%^&*()_+"), BASE_62 %>
		<%= sToI "JElV", BASE_62 %>
	</body>
	
</html>